.container {
  width: 80vw;
  padding: 4rem 4rem;
  display: flex;
  justify-content: center;
  /* background-color: #dcdcdc; */
}

.innercontainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #0576bc;
  font-size: 2.4rem;
  font-weight: bold;
}

.accomplishText ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.accomplishText li {
  padding-left: 4rem;
  /* text-indent: 1em; */
}

.accomplishText li:before {
  content: "★";
  color: #a21e28;
  position: absolute;
  left: 0;
  padding-left: 2.5rem;
}

.accomplishText li em {
  font-style: normal;
  color: #a21e28;
}

@media (min-width: 1500px) {
  .container {
    width: 80vw;
  }
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 1024px) {
  .container {
    padding: 1rem 0 5rem 0;
    width: 80vw;
  }

  .innercontainer {
    font-size: 2.2rem;
  }
}

@media (max-width: 900px) {
  .container {
    width: 90vw;
    padding: 0 0 5rem 0;
  }
  .innercontainer {
    font-size: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
  .container {
    width: 90vw;
    padding: 5rem 0 5rem 0;
  }

  .innercontainer {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95vw;
    padding: 2rem 0.2rem 2rem 0.2rem;
  }
  .innercontainer {
    font-size: 1.2rem;
  }
  .accomplishText li {
    padding-left: 2rem;
    /* text-indent: 1em; */
  }
}
