.container {
  width: 100%;
}

.cardText h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #0695ee;
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cardcontainer {
  width: 70%;
  height: 100%;
  min-height: 50vh;
  margin: 2em 1em;
  padding: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardcontainer div > ul > li > ul {
  list-style: none;
  padding-left: 0;
}

.cardcontainer div > ul > li > p {
  margin-bottom: 0;
}

.cardImg {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: auto;
  position: relative;
}

.cardImg img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  position: relative !important;
}

@media (max-width: 1200px) {
  .cardcontainer {
    width: 80%;
  }
  .cardImg {
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .cardcontainer {
    width: 90%;
  }
  .cardImg {
    width: 85%;
  }
}
/*  Small devices (desktops, 576px and up) */
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .cardcontainer {
    width: 98%;
  }
  .cardImg {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .cardcontainer {
    width: 98%;
  }
  .cardImg {
    width: 100%;
  }
}
