.container {
  width: 100%;
  padding: 4rem 4rem;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #a21e28;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.cardImgCont {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
}
.cardImg {
  border: 3px solid #0576bc;
  min-width: 176px;
}

.innercontainer {
  padding: 0 3rem;
  max-width: 1200px;
  display: flex;
}

.quoteblock {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 2.5rem; */
  padding: 1em 1em 0 1em;
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.quoteSym {
  font-size: 2.5rem;
  align-self: end;
}

.quoteSym:first-of-type {
  align-self: start;
}

.quote {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.author {
  font-size: 1.5rem;
  align-self: end;
  padding: 0 5rem 1rem 1rem;
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 1200px) {
  .container {
    padding: 4rem 1rem;
  }

  .innercontainer {
    padding: 0 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 750px) {
  .container {
    padding: 1rem 1rem;
  }

  .innercontainer {
    padding: 0 1rem;
  }

  .card {
    flex-direction: column;
  }

  .quote {
    font-size: 1.1rem;
  }

  .author {
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .cardImgCont {
    width: 100%;
    align-items: center;
  }
  .cardImg {
    width: 176px;
  }
  .quoteSym {
    font-size: 1.1em;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0rem 0rem;
  }
  .innercontainer {
    padding: 0 0rem;
  }

  .card {
    flex-direction: column;
  }

  .quote {
    font-size: 1.1rem;
  }

  .author {
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .cardImgCont {
    width: 100%;
    align-items: center;
  }
  .cardImg {
    width: 176px;
  }
  .quoteSym {
    font-size: 1.1em;
  }

  .quoteblock {
    padding: 0.5em 0.5em 0 0.5em;
  }
}
